*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container  {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    background-color: white;
    border-radius: 5rem;
}


main    {
    margin-top: 2rem;
}

/* General style */

.card_container {
    padding: 2rem;
    border-radius: 2rem;
    margin: 1rem;
}

/* Header */

.nav_top    {
    background-color: #0084FD;
}

.nav_top_container   {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0;
}

/* Main */

/* First section */

.first_cards_containers img {
    width: 100%;
}

.first_cards_containers .card_container {
    background-color: #B5DDFF;
}

.first_button   {
    background-color: #0084FD;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
}

.nav_top_container  {
    padding: 1rem;
}

.nav_top_container ul   {
    display: none;
}

/* Cards style */

.card_container {
    display: flex;
    flex-direction: column;
}

.text_card_container h1 {
    color: #0084FD;
    font-size: 1.5rem;
}

/* .text_card_container p{
    font-size: 0.8rem;
} */

.card_container .text_card_container    {
    flex: 1 1 60%;
}

.card_container .img_card_container    {
    flex: 1 1 40%;
}

/* Desktop */

@media screen and (min-width: 811px) {

    /* Header */

    .nav_top_container ul {
        display: flex;
        list-style: none;
    }
    
    .nav_top_container .nav_links  {
        text-decoration: none;
        padding: 1rem;
        color: white;
        font-size: 1.25rem;
    }
    
    .nav_top_container .nav_btn    {
        color: black;
        padding: 0 0.5rem;
    }
        
    .hamburger   {
        display: none;
    }

    /* Main */

}

/* Tablet */

@media screen and (min-width: 376px) and (max-width: 810px) {

    body    {
        background-color: lightpink;
    }

    /* Header */

    .container  {
        max-width: 100%;
        margin: 0 auto;
    }

    /* .nav_top_container  {
        padding: 1rem;
    }

    .nav_top_container ul   {
        display: none;
    } */

    /* Main */
}