*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container  {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    background-color: white;
    border-radius: 5rem;
}

/* General style */

/* Header */

.nav_top    {
    background-color: #0084FD;
}

.nav_top_container   {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0;
}

.nav_top_container ul {
    display: flex;
    list-style: none;
}

.nav_top_container .nav_links  {
    text-decoration: none;
    padding: 1rem;
    color: white;
    font-size: 1.25rem;
}

.nav_top_container .nav_btn    {
    color: black;
    padding: 0 0.5rem;
}

/* Desktop */

@media screen and (min-width: 811px) {

    .hamburger   {
        display: none;
    }
}